<script src="{{ site.js_host }}/js/abcplayer.js"></script>
<script src="{{ site.js_host }}/js/wssTools.js"></script>

<script src="{{ site.js_host }}/js/jquery-3.5.1.min.js"></script>

<!-- https://github.com/PencilCode/musical.js -->
<script src="{{ site.js_host }}/js/musical.min.js"></script>

<!-- https://github.com/paulrosen/abcjs -->
<script src="{{ site.js_host }}/js/abcjs_basic_5.12.0-min.js"></script>

<!-- https://refreshless.com/nouislider/ -->
<script src="{{ site.js_host }}/js/nouislider.min.js"></script>
<!-- https://refreshless.com/wnumb/ -->
<script src="{{ site.js_host }}/js/wNumb.min.js"></script>

<script type="module" src="https://cdn.jsdelivr.net/npm/@pwabuilder/pwainstall"></script>

